.dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  opacity:0;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  background-color: #E9FFD8;
  opacity: 0.75;
  padding: 16px;
  border: 2px dashed;
  display: none;
  width: 230px;
}

.state-border {
  fill: none;
  stroke: #fff;
  stroke-width: 0.8px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.button-fancy {
    color: #000000;
    border: #000000 solid 1.5px;
    padding: 7px 17px;
	margin: 10px 0 0 0;
    background-color: #ffffff;
	border-radius: 4px;
	font-size:16px;
}

.button-fancy:hover {
    color: #ffffff;
    background-color: #000000;
}

.axis {
	color: #5B5B5B;
}	
.hover-axis {
	font-size: 22px;
    font-weight: 800;
    color: black;
}
